[Unit]
Description=Beacon API server
Documentation=https://github.com/istvan-antal/beacon
After=network.target

[Service]
Type=simple
User=pi
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
WorkingDirectory=/home/pi/apps/beacon

ExecStart=/usr/local/bin/node dist/app.js

[Install]
WantedBy=multi-user.target